*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    

}


/* .div0{
    height:60px;
    width: 200px;
    background-color:gray;
    margin-left: 40%;
    margin-top: 10px;
} */
.div1{
    width: 100%;
    height: 45px;
    background-color: royalblue;
    border: 2px groove rebeccapurple;
    border-radius: 5px;
}
#div2{

    border: 5px groove black;
    width: 80%;
    height: 800px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#span1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;

    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    font-style: oblique;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    
}
.span3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 20px;
}
#div4{
    margin-top: 5px;
    border: 2px solid rgb(148, 195, 148);
    border-radius: 10px;
    height: 120px;
    padding-top: 2px;
    padding-left: 2px;   
    
}
div p{
    font-size: 25px ;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    }
   
    
label{
    background-color : white;
    font-size: 20px;
  
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;

}

#DSTSTN{
    margin-left: 145px;
}

#SRCSTN{

}
#date{
    margin-left: 215px;
}
#type {
    margin-left: 300px;
}
#number{
    padding-left: 0px;
    margin-left: 144px;
}
input{
    margin-left: 185px;
    padding-left: 5px;
    border: 2px groove royalblue;
    border-radius: 5px;
    width: 175px;
    height: 30px;
    font-size: 10.6pt;
    transition: 1s;
}

input[type=text]:hover{
    box-shadow: 0 0 5pt 0.5pt #d5b2b2;
  }
input[type=text]:focus {
    box-shadow: 0 0 5pt 2pt #97cbdd;
    outline-width: 0px;
  }

.Button{
    font-size: 20px;
    padding: 2px;
    background-color: royalblue;
    border: 2px groove royalblue;
    border-radius: 5px;
    
}



