* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: cornsilk;
}

body {
    margin-bottom: 20px;
}


/* .div0{
    height:60px;
    width: 200px;
    background-color:gray;
    margin-left: 40%;
    margin-top: 10px;
} */

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#bus1 {
    width: 800px;
    height: 600px;
    background-image: url("Images/volvo.png");
    padding-top: 380px;
    background-repeat: no-repeat;
}

.span2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 20px;
    height: 50px;
    width: 200px;
    text-align: center;
    margin-left: 30%;
    color: aliceblue;
    background-color: black;
}

.div2 {
    width: 500px;
    height: 250px;
    background-color: rgb(237, 245, 246);
    margin-top: 30px;
    box-shadow: 5px 10px rgb(135, 126, 126);
    border: 2px solid black;
    border-radius: 5px;
}

#column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.span1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    font-size: 20px;
    height: 50px;
    width: 200px;
    margin-left: 30%;
    color: aliceblue;
    background-color: black;
}

.span1 a {
    text-decoration: none;
    background-color: black;
    color: white;
}

#span1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    font-size: 22px;
}

.span3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    font-size: 20px;
}

.p1 {
    font-weight: bold;
    font-size: 30px;
    margin: 5px;
    background-color: aliceblue;
}

#Text1 {
    margin-left: 20px;
    background-color: aliceblue;
}

#postbutton {
    float: right;
    margin-right: 40px;
    padding: 5px;
    width: 50px;
    border-radius: 5px;
    background-color: royalblue;
}

#postbutton:hover {
    cursor: pointer;
}